
  <ul class="post-list">
    {% assign posts=site.posts | where:"type","posts" %}
    {% assign shown=[] %}
    {% for post in posts %}
      {% unless shown contains post %}
      <li>
        {% if post.lang == page.lang %}
          {% include post_list_element.html post=post %}
          {% assign shown=shown | push: post %}
        {% endif %}
        {% for p2 in posts %}
          {% if p2.name == post.name %}
            {% assign shown=shown | push: p2 %}
            {% if p2.lang == page.lang %}
              {% unless shown contains post %}
                {% include post_list_element.html post=p2 %}
                {% assign shown=shown | push: post %}
              {% endunless %}
            {% endif %}
          {% endif %}
        {% endfor %}
        {% unless shown contains post %}
          {% include post_list_element.html post=post %}
          {% assign shown=shown | push: post %}
        {% endunless %}
      </li>
      {% endunless %}
    {% endfor %}
  </ul>
